@charset "utf-8";

body {	
	background-image: url("../img folder/brick_wall.png");
}




p {
	
}

#container {
    background-color: white;
    width: 80%;
    margin: 0 auto;ß
}

header.site-header {
    background: aquamarine;
        float: left;
    width: 100%;
}


header h1 {
    float: left;
    font-size: 6em;
    text-align: center;
    width: 100%;
}

nav {
    width: 100%;
    float: left;
    margin-bottom: 2%;
}

nav li {
    background: aqua;
    float: left;
    padding: 20px;
        margin: 0px 7%;
    list-style: none;
}

nav li a {
	color: black;
	text-decoration: none;
}

main {
    display: inline-block;
    background: white;
    margin-top: 2%;
        width: 55%;
    padding: 0 5%;
        float: left;
}

aside {
    background: white;
    display: inline-block;
    width: 31%;
    margin-top: 2%;
    padding: 0 2%;
        float: left;
}

section {
    display: inline-block;
    background: white;
    width: 100%;
}

section img {
    width: 100%;
    margin-top: 8%;
}

.dino-list li img {
    width: 100%;
}

section li {
    width: 33%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

section.bottom {
    width: 90%;
        padding: 0 5%;
}

ul.bottom-list {
    padding: 0;
}

footer {
width: 90%;
    display: inline-block;
    background: aquamarine;
    padding: 0 5%;
}

footer p {
    display: inline-block;
}

ul.social-footer {
    float: right;
}

.social-footer li {
    display: inline-block;
}

.social-footer li  img {
    width: 32px;
}