
	main {
		background: url("img/white-waves.png");
	}
.logo {
	float: left;
	width:100px;
	padding: 15px;
	box-sizing: border-box;
	background: #1976D2;
}
		.box {
			width: 90px;
			padding: 10px;
			margin: 15px;
			background: #00ced1;
			float: left;
			border: 5px #00ced1;
		}

	.container 
	{max-width: 960px;
	}
body {
  background-color: #90EE90;
}

h1 {
  color: #000000;
  margin-left: 20px
}
p {
  font-family: verdana;
  font-size: 20px;
}

.btn {
  border: 18px 34px;
  background-color: #00ced1;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
</style>